table {
  empty-cells: hide;
}
tr,
th,
td {
  text-align: center;
}
td,
th {
  color: white;
  font-weight: bold;
}
th {
  font-size: large;
}

.centrar {
  vertical-align: center !important;
}
.tabla {
  background-color: #161a1d;
}
#titulo {
  width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid red;
  column-fill: auto;
}
#contenedor {
  margin-bottom: 200px;
  margin-top: 3%;
}
.subrayar {
  border-bottom: 1px solid red;
}
