.proyecto:hover{
    animation: 0.5s incremento ease;
    transform: scale(1.02);
}
.proyecto{
    animation: 0.5s decremento ease;
}

@keyframes incremento{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.02);
    }
}
@keyframes decremento{
    0%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}

.espaciado::after{
    content: '\800b';
    visibility: hidden;
}
.fondoProyecto{
    background-color: #161a1d;
    padding: 20px;
    border-radius: 10px;
}